* {
	margin: 			0;
	padding: 			0;
	font-family: 'Coiny', sans-serif;
}

video {
	position: 			fixed;
	z-index: 			-1;
}

.navigation {
	position: 			absolute;
	top: 				0px;
	right: 				20px;
	font-size: 			100%;
	width: 				50%;
	text-align: 		center;
	background: 		rgba(99,135,170,.75);
	border: 			1px solid white;
	border-bottom-left-radius:	15px;
	border-bottom-right-radius:	15px;
}

nav li {
	display: 			inline-block;
	padding: 			4%;
}

a:link {
	color: 				white;
	text-decoration: 	none;
}

a:visited {
	text-decoration: 	none;
	color: 				lightgrey;

}

a:hover {
	background: 		rgba(255,255,255,.75);		
	color: 				rgb(99,135,170);
	text-decoration: 	none; 
}

.logo	{
	position: 			absolute;
	top: 				0px;
	left: 				50px;
	color: 				white;
	border:				3px solid white;
	padding: 			7px;
	border-radius: 		33px;
	background: 		rgba(99,135,170,.75);
}

.text {
    display:			block;
    margin: 			20% 10% 10% 48%;
    padding-left:  		0px;
    line-height: 		1.5;
    background-color: 	rgba(99,135,170,.55);
	border-bottom-left-radius:	15px;
	border-bottom-right-radius:	15px;
	border: 			1px solid white;	
}

.wordbackground {

}

.text p {
	padding-left: 		10px;
	letter-spacing: 	.1em;
	color: 				white;
	opacity: 			none;
	font-family: 		'Francois One', sans-serif;
	font-weight: 		bold;
}

.text h1 {
	background: 		rgba(255,255,255,.75);
	color: 				rgb(99,135,170);
}


.button {
	float:				left;
	border-radius: 		15px;
	margin-top: 		20%;
	margin-left: 		20%;
	color: 				white;
	text-align: 		center;
	background: 		rgba(99,135,170,.75);
	padding: 			1%;
	border: 			1px solid white;
}	


@media (max-width: 650px) {
	.navigation {
		position: absolute;
		left: 0;
		top:	75px;
		width: 	100%;
	}

}

